[Unit]
Description=Spring Boot Route Planning backend

[Service]
User=root
ExecStart=/bin/route_planning_service.sh
Restart=always

[Install]
WantedBy=multi-user.target